-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: pam
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `pam`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `pam` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `pam`;

--
-- Table structure for table `auth_sessions`
--

DROP TABLE IF EXISTS `auth_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_sessions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `refresh_token_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `device_label` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ip_address` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `issued_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `expires_at` datetime NOT NULL,
  `revoked_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_auth_sessions_refresh_hash` (`refresh_token_hash`),
  KEY `idx_auth_sessions_user` (`user_id`),
  CONSTRAINT `fk_auth_sessions_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_sessions`
--

LOCK TABLES `auth_sessions` WRITE;
/*!40000 ALTER TABLE `auth_sessions` DISABLE KEYS */;
INSERT INTO `auth_sessions` VALUES (1,1,'hash_refresh_demo_1','Pixel 7','192.168.1.20','Android-App/1.0','2026-04-24 11:47:21','2026-05-24 11:47:21',NULL),(2,2,'hash_refresh_demo_2','Samsung S23','192.168.1.21','Android-App/1.0','2026-04-24 11:47:21','2026-05-24 11:47:21',NULL);
/*!40000 ALTER TABLE `auth_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `measurement_attempts`
--

DROP TABLE IF EXISTS `measurement_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `measurement_attempts` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `client_record_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'UUID z aplikacji; idempotencja uploadu',
  `user_id` bigint unsigned DEFAULT NULL,
  `owner_username` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Snapshot nazwy u├à┬╝ytkownika z chwili pomiaru',
  `vehicle_id` bigint unsigned DEFAULT NULL,
  `measured_at_epoch_ms` bigint unsigned NOT NULL COMMENT 'Timestamp UTC z aplikacji (ms)',
  `measured_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `measure_type` enum('distance','speed_accel') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'dystans vs przyspieszenie 0├óÔÇáÔÇÖX',
  `mode_label` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'np. 1 km, 100 m, 0-100 km/h',
  `start_strategy` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'countdown_then_measure | armed_wait_for_motion',
  `max_speed_kmh` decimal(7,2) NOT NULL DEFAULT '0.00',
  `duration_ms` bigint unsigned NOT NULL DEFAULT '0',
  `distance_m` decimal(10,2) NOT NULL DEFAULT '0.00',
  `speed_profile_json` json DEFAULT NULL COMMENT 'Profil pr├äÔäódko├àÔÇ║ci [[tMs,vKmh], ...]',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_measurement_attempts_client_record_id` (`client_record_id`),
  KEY `idx_measurement_attempts_measured_at_epoch_ms` (`measured_at_epoch_ms`),
  KEY `idx_measurement_attempts_measured_at` (`measured_at`),
  KEY `idx_measurement_attempts_type` (`measure_type`),
  KEY `idx_measurement_attempts_duration` (`duration_ms`),
  KEY `idx_measurement_attempts_distance` (`distance_m`),
  KEY `idx_measurement_attempts_user` (`user_id`),
  KEY `idx_measurement_attempts_owner_username` (`owner_username`),
  KEY `idx_measurement_attempts_vehicle` (`vehicle_id`),
  CONSTRAINT `fk_measurement_attempts_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_measurement_attempts_vehicle` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `measurement_attempts`
--

LOCK TABLES `measurement_attempts` WRITE;
/*!40000 ALTER TABLE `measurement_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `measurement_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `oauth_identities`
--

DROP TABLE IF EXISTS `oauth_identities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `oauth_identities` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `provider` enum('google','facebook') COLLATE utf8mb4_unicode_ci NOT NULL,
  `provider_user_id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_at_provider` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_oauth_identity_provider_user` (`provider`,`provider_user_id`),
  KEY `idx_oauth_identity_user` (`user_id`),
  CONSTRAINT `fk_oauth_identity_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `oauth_identities`
--

LOCK TABLES `oauth_identities` WRITE;
/*!40000 ALTER TABLE `oauth_identities` DISABLE KEYS */;
INSERT INTO `oauth_identities` VALUES (1,1,'google','google-demo-uid-1','demo@example.com','2026-04-24 11:47:21'),(2,2,'facebook','facebook-demo-uid-2','track@example.com','2026-04-24 11:47:21');
/*!40000 ALTER TABLE `oauth_identities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sync_events`
--

DROP TABLE IF EXISTS `sync_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sync_events` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `client_record_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `event_type` enum('insert','update','error') COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_sync_events_client_record_id` (`client_record_id`),
  KEY `idx_sync_events_created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sync_events`
--

LOCK TABLES `sync_events` WRITE;
/*!40000 ALTER TABLE `sync_events` DISABLE KEYS */;
INSERT INTO `sync_events` VALUES (1,'11111111-1111-1111-1111-111111111111','insert','seed','2026-04-24 11:47:21'),(2,'22222222-2222-2222-2222-222222222222','insert','seed','2026-04-24 11:47:21'),(3,'33333333-3333-3333-3333-333333333333','insert','seed','2026-04-24 11:47:21');
/*!40000 ALTER TABLE `sync_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_credentials`
--

DROP TABLE IF EXISTS `user_credentials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_credentials` (
  `user_id` bigint unsigned NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_plain` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password_algo` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'argon2id',
  `password_updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `fk_user_credentials_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_credentials`
--

LOCK TABLES `user_credentials` WRITE;
/*!40000 ALTER TABLE `user_credentials` DISABLE KEYS */;
INSERT INTO `user_credentials` VALUES (1,'$argon2id$v=19$m=65536,t=3,p=2$demo$hash_demo_1',NULL,'argon2id','2026-04-24 11:47:21'),(2,'$argon2id$v=19$m=65536,t=3,p=2$demo$hash_demo_2',NULL,'argon2id','2026-04-24 11:47:21');
/*!40000 ALTER TABLE `user_credentials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `display_name` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` enum('user','admin') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'user',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_users_username` (`username`),
  UNIQUE KEY `uq_users_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'demo_driver','demo@example.com','Demo Driver','user',1,'2026-04-24 11:47:21','2026-04-24 11:47:21'),(2,'track_day','track@example.com','Track Day','user',1,'2026-04-24 11:47:21','2026-04-24 11:47:21');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles`
--

DROP TABLE IF EXISTS `vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicles` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `nickname` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `make` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `model` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `production_year` smallint unsigned DEFAULT NULL,
  `vin` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_vehicles_vin` (`vin`),
  KEY `idx_vehicles_user` (`user_id`),
  CONSTRAINT `fk_vehicles_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles`
--

LOCK TABLES `vehicles` WRITE;
/*!40000 ALTER TABLE `vehicles` DISABLE KEYS */;
INSERT INTO `vehicles` VALUES (1,1,'Daily GTI','Volkswagen','Golf GTI',2019,'WVWZZZ1KZ9W000001','2026-04-24 11:47:21'),(2,2,'Weekend M','BMW','M240i',2021,'WBA1J71010V000002','2026-04-24 11:47:21');
/*!40000 ALTER TABLE `vehicles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_measurement_attempts_readable`
--

DROP TABLE IF EXISTS `vw_measurement_attempts_readable`;
/*!50001 DROP VIEW IF EXISTS `vw_measurement_attempts_readable`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_measurement_attempts_readable` AS SELECT 
 1 AS `id`,
 1 AS `client_record_id`,
 1 AS `owner_name`,
 1 AS `measure_type`,
 1 AS `mode_label`,
 1 AS `start_strategy`,
 1 AS `max_speed_kmh`,
 1 AS `duration_ms`,
 1 AS `duration_s`,
 1 AS `distance_m`,
 1 AS `measured_at_epoch_ms`,
 1 AS `measured_at`,
 1 AS `created_at`,
 1 AS `updated_at`*/;
SET character_set_client = @saved_cs_client;

--
-- Dumping events for database 'pam'
--

--
-- Dumping routines for database 'pam'
--

--
-- Current Database: `pam`
--

USE `pam`;

--
-- Final view structure for view `vw_measurement_attempts_readable`
--

/*!50001 DROP VIEW IF EXISTS `vw_measurement_attempts_readable`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_measurement_attempts_readable` AS select `m`.`id` AS `id`,`m`.`client_record_id` AS `client_record_id`,coalesce(`m`.`owner_username`,`u`.`username`,'offline') AS `owner_name`,`m`.`measure_type` AS `measure_type`,`m`.`mode_label` AS `mode_label`,`m`.`start_strategy` AS `start_strategy`,`m`.`max_speed_kmh` AS `max_speed_kmh`,`m`.`duration_ms` AS `duration_ms`,round((`m`.`duration_ms` / 1000.0),2) AS `duration_s`,`m`.`distance_m` AS `distance_m`,`m`.`measured_at_epoch_ms` AS `measured_at_epoch_ms`,`m`.`measured_at` AS `measured_at`,`m`.`created_at` AS `created_at`,`m`.`updated_at` AS `updated_at` from (`measurement_attempts` `m` left join `users` `u` on((`u`.`id` = `m`.`user_id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-24 11:47:27
